.skillContainer {
    width: 100%;
    display: flex;
    gap: 5px;
}

.skillItem {
    display: flex;
    gap: 10px;
}

.skillItem > span {
    width: 40%;
}

@media (max-width: 780px) {
    .skillContainer {
        flex-wrap: wrap;
    }
}