.paper {
    background: var(--bg-card);
    border-radius: 12px;
    display: flex;
    padding: 22px;
    gap: 22px;
    width: calc(100% - 2.7em);
}

.flexCol {
    flex-direction: column;
}

@media(max-width: 600px) {
    .paper {
        flex-direction: column;
    }
}